<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>time - Exemplo GET - VUE.JS | AXIOS</title>

    <script>
        function getTimes() {
            new Vue({
                el: '#app',
                data() {
                    return {
                        time: null
                    }
                },
                mounted() {
                    axios.get('http://localhost:8001/Times').then(response => (this.time = response.data))
                }
            })

        }
    </script>

</head>
<body>
    <div class="container" id="app">

        <h1>time - VUE | AXIOS</h1>

        <div class="row" v-for="time in time">
            <div class="col-sm">
                <span class="badge badge-primary">{{ time.teamId }}</span>
            </div>
            <div class="col-sm">
                <span v-html="time.name" class="badge badge-secondary"></span>
            </div>
            <div class="col-sm">
                <span v-html="time.color" class="badge badge-primary"></span>
            </div>
            <div class="col-sm">
                <span v-html="time.fundation_year" class="badge badge-secondary"></span>
            </div>
            <div>
            	{{ time.stadium }}
            </div>
            <div>
                {{ time.coach }}
            </div>
            <div>
                {{ time.twisted_organized }}
            </div>

        </div>

        <button class="btn btn-primary" onclick="getTimes()">Obter Times</button>
    </div>
    <script>getTimes();</script>
</body>
</html>
